body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:bisque;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.customer-service {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.working-hours {
    max-width: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
